
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

.neighborhood {
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    background-color: #B2D3B4
}

.neighborhood h1, h2, h4 {
    font-family: 'Montserrat', sans-serif;
}

.neighborhood p {
    font-family: 'Poppins', sans-serif;
}

.img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1EB4D3;
    padding: 10px;
    width: 100%;
}

.image_container img {
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    margin: 10px;
    /* -webkit-box-shadow: 0px 0px 23px 0px rgba(117,113,117,1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(117,113,117,1);
    box-shadow: 0px 0px 23px 0px rgba(117,113,117,1); */
}

.image_container img:hover {
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 23px 0px rgb(240, 186, 38);
    -moz-box-shadow: 0px 0px 23px 0px rgb(240, 186, 38);
    box-shadow: 0px 0px 23px 0px rgb(240, 186, 38);
}

.comments {
    margin: 0px 10px 0px 10px;
    padding: 0px 20px 0px 20px;
}

.comments h2 {
    text-align: center;
    /* border-bottom: 5px solid rgb(250, 232, 171); */
    width: 100%;
    padding: 10px;
}

/* https://github.com/IanLunn/Hover/blob/master/css/hover.css
/* Underline From Center */
 .hvr-underline-from-center { 
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(255, 252, 87);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  } 

  .comment_card h4, sub, p {
      margin: 0px;
  }

  .comment_card {
      margin: 10px 0px 15px 0px;
  }

  .neighborhood p {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 20px;
  }